.background-bendo {
  background-image: url(http://booze.html.themeforest.createit.pl/assets/images/demo-content/booze/slide1.jpg);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  height: 100vh;
  }
